<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>fisAssetServlet</display-name>
  <servlet>
    <servlet-name>Get FIS Asset Data</servlet-name>
    <servlet-class>com.olympus.fis.FisAssetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get FIS Asset Data</servlet-name>
    <url-pattern>/getasset</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Get BOBJ XML Data</servlet-name>
    <servlet-class>com.olympus.fis.GetBobjData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get BOBJ XML Data</servlet-name>
    <url-pattern>/getbobj</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Read XML Data</servlet-name>
    <servlet-class>com.olympus.fis.ReadXMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Read XML Data</servlet-name>
    <url-pattern>/readxml</url-pattern>
  </servlet-mapping>
  
  
</web-app>